
    <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
      <div class="container">
          <div class="navbar-brand">
              <span class="navbar-logo">
                  <a href="/">
                      <img src="assets/images/icons8-credit-card-64.png" alt="Mobirise" style="height: 3rem;">
                  </a>
              </span>
              <span class="navbar-caption-wrap"><a class="navbar-caption text-black display-7" href="/">Dotcardmeta.com</a></span>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <div class="hamburger">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
              </div>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true"><li class="nav-item"><a class="nav-link link text-black display-4" href="/about"><strong>
                          About us</strong></a></li>
                          <li class="nav-item"><a class="nav-link link text-black display-4" href="/services"><strong>
                            Services</strong></a></li>
                  <li class="nav-item"><a class="nav-link link text-black display-4" href="/contact"><strong>Contacts</strong></a>
                  </li>
                  <li class="nav-item"><a class="nav-link link text-black display-4" href="/pricing"><strong>
                    Pricing</strong></a></li></ul>
              <div class="navbar-buttons mbr-section-btn"><a class="btn btn-primary display-4" href="https://wa.me/message/YPXHTUCETLZQF1">
                      Contact Us </a></div>
          </div>
      </div>
  </nav>