<!DOCTYPE html>
<html  >
<head>
  <!-- Site made with Mobirise Website Builder v5.3.0, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v5.3.0, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/icons8-credit-card-64.png" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>pricing</title>
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons2/mobirise2.css">
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons-bold/mobirise-icons-bold.css">
  <link rel="stylesheet" href="assets/tether/tether.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
  
</head>
<body>
  
  <section class="menu menu2 cid-sXdA3E1m1T" once="menu" id="menu2-i">
    
    <% include ./partials/nav %>
</section>

<section class="header6 cid-sXmi0YDeD0" id="header6-k">

    

    <div class="mbr-overlay" style="opacity: 0.2; background-color: rgb(0, 0, 0);"></div>

    <div class="align-center container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-3 display-1"><strong>Let money fuel your life, not dictate it</strong></h1>
                
                
                <div class="mbr-section-btn mt-3"><a class="btn btn-danger display-4" href="https://wa.me/message/YPXHTUCETLZQF1">See More</a></div>
            </div>
        </div>
    </div>
</section>

<section class="features1 cid-sXmi1ZKlWr" id="features1-l">
    

    
    <div class="container">
        <div class="row">
            
        </div>
        <div class="row">
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <div class="iconfont-wrapper">
                            <span class="mbr-iconfont mbrib-like"></span>
                        </div>
                        <h5 class="card-title mbr-fonts-style display-7"><strong>Your're in safe hands</strong></h5>
                        <p class="card-text mbr-fonts-style display-7">We’ve been supporting our customers through thick and thin over the years and intend to do so for many more years to come.</p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <div class="iconfont-wrapper">
                            <span class="mbr-iconfont mbrib-github"></span>
                        </div>
                        <h5 class="card-title mbr-fonts-style display-7"><strong>Draw on our expertise</strong></h5>
                        <p class="card-text mbr-fonts-style display-7">You can use the best thinking from across the whole of Fortified Limited to help make your investment decisions.</p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <div class="iconfont-wrapper">
                            <span class="mbr-iconfont mbrib-chat"></span>
                        </div>
                        <h5 class="card-title mbr-fonts-style display-7"><strong>We're only a chat away</strong></h5>
                        <p class="card-text mbr-fonts-style display-7">Our team can help explain how our investment services work so you can choose the best one for you.</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>

<section class="pricing2 cid-sXmi3iEDJq" id="pricing2-m">
    

    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 align-center col-lg-3">
                <div class="plan">
                    <div class="plan-header">
                        <h6 class="plan-title mbr-fonts-style mb-3 display-5">
                            <strong>Meta 2.1</strong>
                        </h6>
                        <div class="plan-price">
                            <p class="price mbr-fonts-style m-0 display-5"><strong>$3,100</strong></p>
                           
                            </p>
                        </div>
                    </div>
                    <div class="plan-body">
                        <div class="plan-list mb-4">
                            <ul class="list-group mbr-fonts-style list-group-flush display-7">
                                <li class="list-group-item">  <span style="color: #2299aa;"> &#10003; </span>Coverage in 200 countries
                                                </li><li class="list-group-item"> <span style="color: #2299aa;"> &#10003; </span>45+ Payment methods 
                                </li><li class="list-group-item">  <span style="color: #2299aa;"> &#10003; </span>70+  Currencies 
                                </li><li class="list-group-item">  <span style="color: #2299aa;"> &#10003; </span>Flexible withdrawal model  </li>
                               
                                <li class="list-group-item">  <span style="color: #2299aa;"> &#10003; </span> Multiple withdrawal methods </li>
                                    
                            </ul>
                        </div>
                        <div class="mbr-section-btn text-center">
                            <a href="https://wa.me/message/YPXHTUCETLZQF1" class="btn btn-primary display-4">Contact us</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 align-center col-lg-3">
                <div class="plan">
                    <div class="plan-header">
                        <h6 class="plan-title mbr-fonts-style mb-3 display-5">
                            <strong>Meta 2.2</strong>
                        </h6>
                        <div class="plan-price">
                            <p class="price mbr-fonts-style m-0 display-5"><strong>$7,500</strong></p>
                        <br><br>
                        </div>
                    </div>
                    <div class="plan-body">
                        <div class="plan-list mb-4">
                            <ul class="list-group mbr-fonts-style list-group-flush display-7">
                                <li class="list-group-item">  <span style="color: #2299aa;"> &#10003; </span>Coverage in 200 countries
                                                </li><li class="list-group-item"> <span style="color: #2299aa;"> &#10003; </span>45+ Payment methods 
                                </li><li class="list-group-item">  <span style="color: #2299aa;"> &#10003; </span>70+  Currencies 
                                </li><li class="list-group-item">  <span style="color: #2299aa;"> &#10003; </span>Flexible withdrawal model  </li>
                               
                                <li class="list-group-item">  <span style="color: #2299aa;"> &#10003; </span> Multiple withdrawal methods </li>
                                <li class="list-group-item">  <span style="color: #2299aa;"> &#10003; </span> Free Dot Card  </li>
                               
                                <li class="list-group-item">  <span style="color: #2299aa;"> &#10003; </span> AR Spending </li>
                                    
                            </ul>
                        </div>
                        <div class="mbr-section-btn text-center">
                            <a href="https://wa.me/message/YPXHTUCETLZQF1" class="btn btn-primary display-4">Contact us</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 align-center col-lg-3">
                <div class="plan">
                    <div class="plan-header">
                        <h6 class="plan-title mbr-fonts-style mb-3 display-5">
                            <strong>Meta 2.3</strong>
                           
                        </h6>
                        <div class="plan-price">
                            <p class="price mbr-fonts-style m-0 display-5"><strong>$9,799</strong></p>
                            <br><br>
                        </div>
                    </div>
                    <div class="plan-body">
                        <div class="plan-list mb-4">
                            <ul class="list-group mbr-fonts-style list-group-flush display-7">
                                <li class="list-group-item">  <span style="color: #2299aa;"> &#10003; </span>Coverage in 200 countries
                                                </li><li class="list-group-item"> <span style="color: #2299aa;"> &#10003; </span>45+ Payment methods 
                                </li><li class="list-group-item">  <span style="color: #2299aa;"> &#10003; </span>70+  Currencies 
                                </li><li class="list-group-item">  <span style="color: #2299aa;"> &#10003; </span>Flexible withdrawal model  </li>
                               
                                <li class="list-group-item">  <span style="color: #2299aa;"> &#10003; </span> Multiple withdrawal methods </li>
                                <li class="list-group-item">  <span style="color: #2299aa;"> &#10003; </span> Free Dot Card  </li>
                               
                                <li class="list-group-item">  <span style="color: #2299aa;"> &#10003; </span> AR Spending </li>
                                <li class="list-group-item">  <span style="color: #2299aa;"> &#10003; </span> Bank Intergration </li>
                                    
                            </ul>
                        </div>
                        <div class="mbr-section-btn text-center">
                            <a href="https://wa.me/message/YPXHTUCETLZQF1" class="btn btn-primary display-4">Contact us</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 align-center col-lg-3">
                <div class="plan">
                    <div class="plan-header">
                        <h6 class="plan-title mbr-fonts-style mb-3 display-5">
                            <strong>Meta Pro</strong>
                           
                        </h6>
                        <div class="plan-price">
                            <p class="price mbr-fonts-style m-0 display-5"><strong>$19,999</strong></p>
                            <br><br>
                        </div>
                    </div>
                    <div class="plan-body">
                        <div class="plan-list mb-4">
                            <ul class="list-group mbr-fonts-style list-group-flush display-7">
                                <li class="list-group-item">  <span style="color: #2299aa;"> &#10003; </span>Coverage in 200 countries
                                                </li><li class="list-group-item"> <span style="color: #2299aa;"> &#10003; </span>45+ Payment methods 
                                </li><li class="list-group-item">  <span style="color: #2299aa;"> &#10003; </span>70+  Currencies 
                                </li><li class="list-group-item">  <span style="color: #2299aa;"> &#10003; </span>Flexible withdrawal model  </li>
                               
                                <li class="list-group-item">  <span style="color: #2299aa;"> &#10003; </span> Multiple withdrawal methods </li>
                                <li class="list-group-item">  <span style="color: #2299aa;"> &#10003; </span> Free Dot Card  </li>
                               
                                <li class="list-group-item">  <span style="color: #2299aa;"> &#10003; </span> AR Spending </li>
                                <li class="list-group-item">  <span style="color: #2299aa;"> &#10003; </span> Bank Intergration </li>
                                    
                            </ul>
                        </div>
                        <div class="mbr-section-btn text-center">
                            <a href="https://wa.me/message/YPXHTUCETLZQF1" class="btn btn-primary display-4">Contact us</a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>

<section class="footer1 cid-sXdAc0OVxU" once="footers" id="footer1-j">
    <% include ./partials/footer %>
</section><section style="background-color: #fff; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif; color:#aaa; font-size:12px; padding: 0; align-items: center; display: none;"><a href="https://mobirise.site/r" style="flex: 1 1; height: 3rem; padding-left: 1rem;"></a><p style="flex: 0 0 auto; margin:0; padding-right:1rem;">Made with Mobirise - <a href="https://mobirise.site/l" style="color:#aaa;">Read more</a></p></section><script src="assets/web/assets/jquery/jquery.min.js"></script>  <script src="assets/popper/popper.min.js"></script>  <script src="assets/tether/tether.min.js"></script>  <script src="assets/bootstrap/js/bootstrap.min.js"></script>  <script src="assets/smoothscroll/smooth-scroll.js"></script>  <script src="assets/dropdown/js/nav-dropdown.js"></script>  <script src="assets/dropdown/js/navbar-dropdown.js"></script>  <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>  <script src="assets/theme/js/script.js"></script>  
  
    
<% include ./partials/chat %>
</body>
</html>